body {
  background: #343a40;
}

.video-player {
  height: 85vh;
}
.gamedetails {
  height: 85vh;
}

.gameimage {
  height: 100px;
  width: 100px;
  border-radius: 5%;
}

.header {
  background: linear-gradient(to right, yellow, green, white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.5s;
  background-size: 200% auto;
}

.header:hover {
  background-position: right center;
  cursor: default;
}

.button {
  background-image: linear-gradient(
    to right,
    #090947 0%,
    #5a585a 50%,
    #090947 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.button:hover {
  background-position: right center;
  color: white; /* change the direction of the change here */
}

.countdown {
  height: 10px;
  background: transparent;
  border: 1px solid white;
  width: 100%;
}

.fill {
  height: 100%;
  width: 100%;
  background-color: green;
}
